* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: open-sans;
  src: url("../fonts/OpenSans-Regular.woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: open-sans-bold;
  src: url("../fonts/OpenSans-Bold.woff2");
  font-weight: bold;
  font-style: normal;
}

.header,
.trends,
.main-aside,
.shop,
.footer {
  margin-bottom: 65px;
}

.diplom-page {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* HEADER */

.header {
  position: relative;
  background-image: url("../images/banner-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #0e1728;
  z-index: 1;
  padding-top: 25px;
  padding-bottom: 130px;
}

.header::after {
  content: "";
  background-color: #000000;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.6;
  z-index: -1;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.logo-link {
  width: 175px;
}

.button-menu {
  display: none;
}

.menu-list {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu-item {
  font-family: open-sans, sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  margin-left: 36px;
}

.menu-link {
  text-decoration: none;
  color: #ffffff;
}

.menu-link:hover {
  text-decoration: underline;
}

.header-text {
  width: 700px;
  margin: auto;
  margin-top: 100px
}

.text {
  font-family: open-sans-bold, sans-serif;
  font-size: 45px;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  padding: 0;
  margin: 0;
  line-height: 1.7;
}

/* SECTION TRENDS */

.section-header {
  font-family: open-sans-bold, sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 28px;
  margin-top: 0;
}

.section-header::after {
  content: "";
  display: flex;
  margin: 10px auto;
  width: 65px;
  height: 2px;
  border: 1px solid #e1d9bd;
  background-color: #e1d9bd;
}

.trends-content {
  display: flex;
  align-content: flex-start;
  justify-content: space-between;
}

.trend-body {
  display: flex;
  align-items: flex-end;
  width: 24.8%;
  position: relative;
  background-position: center;
  background-size: cover;
  z-index: 1;
  min-height: 320px;
  padding: 0 20px 30px;
  margin-right: 0.2%;
  background-color: #0e1728;
}

.trend-body:last-of-type {
  margin-right: 0;
}

.trend-body::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #000000;
  opacity: 0.6;
  z-index: -1;
}

.trend-info {
  display: flex;
  flex-direction: column;
  border: 3px solid rgba(181, 159, 91, 0.5);
  padding: 30px;
}

.trend-tags-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.trend-link {
  text-decoration: none;
  color: #b59f5b;
  text-transform: uppercase;
  font-family: open-sans-bold, sans-serif;
  font-size: 14px;
  margin-right: 20px;
}

.trend-link:hover {
  text-decoration: underline;
}

.trend-name {
  margin: 0;
  font-family: open-sans-bold, sans-serif;
  font-size: 20px;
  text-transform: uppercase;
}

.trend-name-link {
  color: #ffffff;
  text-decoration: none;
}

.trend-name-link:hover {
  color: #b59f5b
}

.grass {
  background-image: url("../images/trend1.jpg");
}

.cheese {
  background-image: url("../images/trend2.jpg");
}

.mountains {
  background-image: url("../images/trend3.jpg");
}

.lemon {
  background-image: url("../images/trend4.jpg");
}

/* MAIN-ASIDE */

.main-aside {
  display: flex;
  max-width: 1200px;
  justify-content: space-between;
  align-self: center;
}

/* MAIN */

.posts {
  margin-right: 110px;
}

.last-post-1 {
  display: flex;
  margin-bottom: 60px;
  align-items: start;
}

.last-post-1:last-of-type {
  margin-bottom: 0;
}

.post-image {
  width: 380px;
  bac
}

.post-content {
  margin-left: 30px;
  width: 365px;
}

.tegs {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.teg-item {
  font-family: open-sans-bold;
  text-transform: uppercase;
  font-size: 14px;
  padding: 0;
  margin-right: 20px;
}

.teg-link {
  text-decoration: none;
  color: #b59f5b;
}

.teg-link:hover {
  border-bottom: 2px solid rgba(181, 159, 91, 0.5);
}

.post-header {
  margin-top: 5px;
  line-height: 1;
}

.header-link {
  font-family: open-sans-bold;
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  line-height: 1;
}

.header-link:hover {
  color: #b59f5b;
}

.post-name-link:hover {
  color: #b59f5b;
}

.date {
  font-family: open-sans;
  font-size: 12px;
  color: #888888;
  display: inline-block;
  margin-top: 10px;
}

.author {
  margin-top: 45px;
  font-family: open-sans-bold;
  font-size: 12px;
  color: #0f0d0e;
  line-height: 1.5;
  margin-left: 8px;
}

.post-text {
  margin-top: 40px;
  font-family: open-sans;
  font-size: 15px;
  color: #0f0d0e;
  line-height: 1.5;
}

.post-text-2 {
  font-family: open-sans;
  font-size: 15px;
  color: #0f0d0e;
  line-height: 1.5;
}

/* ASIDE */

.extra-block {
  width: 278px;
}

.extra-block-headers {
  margin-top: 0;
  text-align: center;
  font-family: open-sans-bold;
  font-size: 14px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  margin-left: 10px;
}

.extra-block-headers::after {
  content: "";
  display: flex;
  margin: 8px auto;
  width: 65px;
  height: 2px;
  border: 1px solid #e1d9bd;
  background-color: #e1d9bd;
}

/* SECTION NEW-POSTS */

.new {
  margin-top: 30px;
}

.last-new {
  display: flex;
  margin-bottom: 21px;
}

.new-img {
  width: 70px;
  margin-left: 5px;
  height: 70px;
}

.new-content {
  margin: 0;
  padding: 0;
  margin-left: 22px;
}

.new-date {
  font-family: open-sans;
  font-size: 12px;
  color: #cdcdcd;
  margin: 0;
  padding: 0;
  margin-bottom: 5px;
}

.new-text {
  line-height: 16px;
  font-family: open-sans-bold;
  font-size: 14px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.new-text-link {
  text-decoration: none;
  color: #000000;
}

.new-text-link:hover {
  color: #b59f5b;
}

/* SEARCH-FORM */

.search-form {
  display: flex;
  margin-top: 60px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.search-field {
  border: none;
  background-color: #f4f7f6;
  height: 48px;
  padding: 0 20px;
  width: 224px;
}

.search-field:focus {
  outline: none;
  border-bottom: 1px solid #b59f5b;
}

.button-search {
  border: none;
  background-image: url("../svg/search.svg");
  background-repeat: no-repeat;
  background-color: #b59f5b;
  background-size: 18px;
  background-position: center center;
  width: 48px;
}

.button-search:hover {
  background-color: #323232;
}

/* SECTION SUBSCRIBE */

.subscribe {
  margin-top: 55px;
  margin-right: 10px;
}

.subscribe-field {
  border: none;
  background-color: #f4f7f6;
  height: 48px;
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
  margin-top: 17px;
  margin-left: 5px;
}

.subscribe-field:focus {
  outline: none;
  border-bottom: 1px solid #ebe7d7;
}

.subscribe-button {
  margin-top: 18px;
  background-color: #b59f5b;
  border: none;
  height: 48px;
  width: 100%;
  border-top: 1px solid #e6dfc8;
  margin-left: 5px;
}

.subscribe-button:hover {
  background-color: #323232;
}

.button-text {
  font-family: open-sans-bold;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
}

/* SECTION MAIN-TEGS */

.main-tegs {
  margin-top: 55px;
}

.main-tegs-list {
  list-style-type: none;
  display: flex;
  padding: 0;
  flex-wrap: wrap;
}

.main-tegs-item {
  border: 3px solid #eeeeee;
  padding: 5px 14px;
  margin-right: 6px;
  margin-bottom: 6px;
  text-transform: uppercase;
  font-family: open-sans-bold;
  font-size: 12px;
}

.main-tegs-item:hover {
  border: 3px solid #b59f5b;
  text-shadow: 0 0 0.5px #000000;
}

.main-tegs-link {
  text-decoration: none;
  color: #0f0d0e;
}

/* SECTION TOPICS */

.topics {
  margin-top: 55px;
}

.topics-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-left: 5px;
}

.topics-item {
  font-family: open-sans-bold;
  font-size: 14px;
  padding: 10px 0 13px;
  border-bottom: 1px solid #eeeeee;
}

.topics-link {
  text-decoration: none;
  color: #000000;
}

.topics-link:hover {
  color: #b59f5b;
}

.number {
  color: #b59f5b;
  vertical-align: super;
  font-size: 12px;
}

/* SECTION SHOP */

.shop {
  align-self: center;
  max-width: 1200px;
}

.shop-content {
  display: flex;
  justify-content: space-between;
}

.goods {
  width: 29%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.goods-content {
  border: 3px solid #b59f5b;
  margin-top: -35px;
  padding: 35px 18px 0;
  flex-grow: 1;
}

.goods-header {
  margin: 0;
  padding: 10px 0 0;
}

.goods-description {
  font-family: open-sans, sans-serif;
  font-size: 15px;
  color: #0f0d0e;
  line-height: 1.5;
}

.goods-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 28px;
  margin-bottom: 25px;
}

.price {
  display: flex;
  flex-direction: column;
  font-family: open-sans-bold, sans-serif;
}

.old-price {
  font-size: 14px;
  text-decoration: line-through;
}

.new-price {
  font-size: 20px;
}

.shop-link {
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #b59f5b;
  padding: 15px 28px;
  box-sizing: border-box;
  font-family: open-sans-bold, sans-serif;
}

.shop-link:hover {
  background-color: #0f0d0e;
}

.goods-text-link {
  text-decoration: none;
  color: #b59f5b;
}

.goods-text-link:hover {
  text-decoration: underline;
}

/* FOOTER */

.footer {
  max-width: 1200px;
  align-self: center;
  display: flex;
  flex-direction: column;
}

.socials {
  background-color: #f4f7f6;
  padding: 32px 550px
}

.icons-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
}

.icon {
  margin-left: 28px;
}

.icon:first-child {
  margin-left: 0;
}

.icon-dribble-link {
  display: block;
  width: 20px;
  height: 20px;
  background-image: url("../svg/001-dribbble.svg");
  background-repeat: no-repeat;
}

.icon-pinterest-link {
  display: block;
  width: 20px;
  height: 20px;
  background-image: url("../svg/001-pinterest.svg");
  background-repeat: no-repeat;
}

.icon-tumblr-link {
  display: block;
  width: 20px;
  height: 20px;
  background-image: url("../svg/003-tumblr.svg");
  background-repeat: no-repeat;
}

.copyright {
  font-family: open-sans-bold;
  font-size: 12px;
  align-self: center;
  margin-top: 60px;
}

.copyright-link {
  text-decoration: none;
  color: #999999;
}

/* HIDDEN */

.Pop-up {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Pop-up::after {
  content: "";
  background-color: #000000;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.6;
  z-index: -1;
}

.button-close{
  width: 20px;
  height: 20px;
  border: none;
  background-image: url("../svg/form-x.svg");
  position: relative;
  bottom: 60px;
  left: 340px;
  background-color: transparent;
}

.popup-content {
  width: 390px;
  padding: 30px 30px;
  background-color: #ffffff;
}

.popup-form {
  display: flex;
  flex-direction: column;
  font-family: open-sans, sans-serif;
  font-size: 13px;
}

.quastion {
  margin-bottom: 30px;
}

.quastion-header {
  margin-bottom: 5px;
}

.select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  background-color: #f4f7f6;
  height: 48px;
  padding: 0 20px;
  background-image: url("../svg/form-arrows.svg");
  background-repeat: no-repeat;
  background-size: 9px;
  background-position: right 13px center;
  color: #a2a4a3;
  width: 100%;
}

.answer {
  display: none;
}

.radio-text::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url("../svg/form-empty-circle.svg");
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: center center;
  vertical-align: middle;
  margin-right: 3px;
}

.answer:checked~.radio-text::before {
  background-image: url("../svg/form-circle.svg");
}

.yes {
  margin-right: 10px;
}

.textarea-field {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  background-color: #f4f7f6;
  color: #a2a4a3;
  font-family: open-sans, sans-serif;
  padding: 20px 20px;
  max-width: 330px;
  min-width: 330px;
  max-height: 130px;
  min-height: 130px;
}

.textarea-field:focus{
outline: 1px solid #b59f5b;
}

.push-button {
  background-color: #b59f5b;
  border: none;
  height: 48px;
  width: 100%;
  border-top: 1px solid #e6dfc8;
}

.push-button-text {
  font-family: open-sans-bold, sans-serif;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 14px;
}

/* ._hidden {
  display: none;
} */

/* tablet */

@media(min-width:641px) and (max-width: 1200px) {
  .header {
    background-image: url("../images/banner-bg-tablet.jpg");
    padding: 46px 38px 122px;
    background-position: bottom;
  }

  .header-content {
    justify-content: space-between;
  }

  .header-text {
    width: 90%;
    margin: auto;
    margin-top: 100px;
  }

  .text {
    padding: 0;
    font-size: 40px;
  }

  .menu-list {
    display: none;
  }

  .short-menu {
    width: 23px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .button-menu {
    display: block;
    width: 100%;
    padding: 0;
  }

  .trends-content {
    flex-wrap: wrap;
  }

  .trend-body {
    width: 49.80%;
    margin-right: 0;
    min-height: 245px;
    padding: 0 20px 13px;
  }

  .mountains,
  .lemon {
    margin-top: 3px;
  }

  .trend-info {
    padding: 20px;
  }

  .trend-name {
    font-size: 17px;
  }

  .main-aside {
    padding: 0 36px;
    width: 100%;
  }

  .posts {
    margin-right: 10%;
    width: 100%;
  }

  .last-post-1 {
    flex-direction: column;
    border-bottom: 3px solid #eeeeee;
    margin-bottom: 42px;
    padding-bottom: 20px;
  }

  .last-post-1:last-of-type {
    border: none;
  }

  .post-image {
    margin-bottom: 17px;
    width: 100%;
  }

  .post-content {
    margin-left: 0;
    width: 100%;
  }

  .header-link {
    font-size: 17px;
  }

  .shop {
    padding: 0 16px;
  }

  .shop-content {
    flex-wrap: wrap;
  }

  .goods {
    width: 48%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .border {
    margin-top: 28px;
  }

  .footer {
    width: 100%;
  }

  .socials {
    padding: 32px 296px;
  }
}

@media(min-width:641px) and (max-width: 1200px) and (orientation: landscape) {
  .trend-body {
    width: 24.80%;
    margin-right: 0;
    min-height: 245px;
    padding: 0 20px 13px;
  }

  .mountains,
  .lemon {
    margin-top: 0;
  }
}

/* mobile */

@media(max-width:640px) {
  .body {
    max-width: 100%;
  }

  .header,
  .trends,
  .main-aside,
  .posts,
  .shop,
  .footer {
    margin-bottom: 44px;
  }

  .header {
    background-image: url("../images/banner-mobile.jpg");
    background-position: right;
    padding: 30px 15px 219px;
  }

  .header-content {
    flex-direction: column-reverse;
    padding: 0;
    margin: 0;
  }

  .logo-link {
    width: 269px;
    margin-top: 174px;
  }

  .menu-list {
    display: none;
  }

  .short-menu {
    width: 23px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: flex-end;
  }

  .button-menu {
    display: block;
    width: 100%;
    padding: 0;
  }

  .header-text {
    width: 90%;
    margin-top: 42px;
  }

  .text {
    font-size: 26px;
    line-height: 1.3;
  }

  .section-header {
    font-size: 16px;
  }

  .trends-content {
    flex-wrap: wrap;
  }

  .trend-body {
    width: 100%;
    margin-right: 0;
    margin-bottom: 2px;
    min-height: 245px;
    padding: 0 20px 13px;
  }

  .mountains,
  .lemon {
    margin-top: 0px;
  }

  .trend-info {
    padding: 20px;
  }

  .trend-name {
    font-size: 17px;
  }

  .main-aside {
    flex-direction: column;
    padding: 0 16px;
  }

  .posts {
    margin-right: 0;
  }

  .post-text {
    margin-top: 15px;
    font-size: 14px;
  }

  .last-post-1 {
    flex-direction: column;
    border-bottom: 3px solid #eeeeee;
    margin-bottom: 42px;
    padding-bottom: 20px;
    width: 100%;
  }

  .post-image {
    margin-bottom: 17px;
    width: 100%;
  }

  .post-content {
    margin-left: 0;
    width: 100%;
  }

  .extra-block {
    width: 100%;
  }

  .search-field {
    border: none;
    background-color: #f4f7f6;
    height: 48px;
    padding: 0 10px;
    width: 95%;
  }

  .main-tegs-item {
    padding: 5px 10px;
  }

  .header-link {
    font-size: 16px;
  }

  .shop {
    padding: 0 16px;
  }

  .shop-content {
    flex-wrap: wrap;
  }

  .goods {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
  }

  .footer {
    width: 100%;
  }

  .socials {
    padding: 32px 110px;
  }

  .popup-content {
    width: 332px;
  }

  .button-close {
    left: 280px;
  }

  .textarea-field {
    max-width: 270px;
    min-width: 270px;
    max-height: 130px;
    min-height: 130px;
  }
}

@media(max-width:640px) and (orientation:landscape) {
  .trend-body {
    width: 49.80%;
    margin-right: 0;
  }

  .mountains,
  .lemon {
    margin-top: 0;
  }
}

